/* common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 64, 80);
   /*  text-align: center; */
}

h1{
    color: white;
    text-align: center;
    font-size: 3.125rem;
    padding: 3.125rem;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.small-box{


    
}

.biglietto-01{
    background-color: white;
    max-width: 1000px;
    height: 200px;
    border-radius: 15px ;
    margin: 30px;
    margin: auto;
    border: 1px solid grey;
}

.biglietto-02{
    margin: 30px;
    background-color: white;
    max-width: 1000px;
    height: 200px;
    border-radius: 15px;
    margin: auto;
    border: 1px solid grey;
}

.container-02{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 20px;
    width: 90%;
    margin: auto;
}


.container-biglietto-01{
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
}